<article itemscope itemtype="http://schema.org/BlogPosting">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %} 
        <h1 itemprop="headline">{{ article.title }}</h1>
      {% when 'article_author' %}
        <div itemscope itemtype="http://schema.org/Person">
          {% if section.settings.enable_author %}
            <small itemprop="author">{{ article.author }}</small>
          {% endif %}
        </div>
      {% when 'article_published_date' %}
        {% if section.settings.enable_published_date %}
          <time itemprop="datePublished dateCreated" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'on_date' }}</time>
        {% endif %}
      {% when 'featured_image' %}
        <div itemprop="image">
          {% if article.image != blank %}
            <img width="{{ article.image.width }}" height="{{ article.image.height }}" src="{{ article.image | image_url: 'large' }}" alt="{{ article.image.alt }}">
          {% else %}
            {% assign placeholder_image = 'lifestyle-1' %}
            {{ placeholder_image | placeholder_svg_tag: '' }}
          {% endif %}
        </div>
      {% when 'article_content' %}
        <div itemprop="articleBody">
          {{ article.content }}
        </div>
      {% else %}
    {% endcase %}
  {% endfor %}
</article>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": {{ article.title | json }},
  "articleBody": {{ article.content | strip_html | json }},
  {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
    "image": [
      {{ article.image | img_url: "medium" | prepend: 'https:' | json }} 
    ],
  {% endif %}
  "datePublished": {{ article.published_at | date: format: "default" | json }},
  "dateCreated": {{ article.created_at | date: format: "default" | json }},
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ shop.name | json }}
  }
}
</script>


{% schema %}
{
  "name": "Template Article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "default": true,
      "label": "Display Author Name"
    },
    {
      "type": "checkbox",
      "id": "enable_published_date",
      "default": true,
      "label": "Display Published Date"
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}